<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Наруџбина није успешна</h2>
        <p>Тражена количина није на стању!</p>
        <hr />
        <a asp-action="Index" asp-controller="Chocolates"><p>Пробајте поново!</p></a>
    </div>
</div>