<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Успешно наручено</h2>
        <p>Све ваше поруџбине можете видети у секције "Наруџбине" на свом профилу</p>
        <hr />
        <p>Хвала на куповини</p>
    </div>
</div>