@inject UserManager<ApplicationUser> UserManager;


@if (!User.Identity.IsAuthenticated)
{
    @*Login button*@
<a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
    <i class="bi bi-box-arrow-in-right"></i> Пријавите се
</a>

    <span style="padding:5px;"></span>

    @*Register button*@
<a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Account" asp-action="Register">
    <i class="bi bi-person-plus"></i> Региструјте се
</a>
}
else
{
    @*User profile seciton*@
    <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-badge"></i>Добродошли @UserManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labeledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                    <i class="bi bi-list"></i> Наруџбине
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Edit">
                    <i class="bi bi-pencil"></i> Измените податке
                </a>
            </li>

            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="EditPass" >
                    <i class="bi bi-pencil"></i> Измените шифру
                </a>
            </li>

            <a class="dropdown-item" asp-controller="Account" asp-action="DeleteUser" asp-route-id="@UserManager.GetUserId(User)">
                <i class="bi bi-trash-fill"></i> Обриши налог
            </a>

            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                        <i class="bi bi-people"></i> Корисници
                    </a>
                </li>
            }
        </ul>
    </div>

    <span style="padding:5px;"></span>
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn btn-outline-danger my-2 my-sm-0">
            <i class="bi bi-box-arrow-in-right"></i> Одјавите се
        </button>
    </form>
}